.chartContainer {
    width: 60%;
    margin: 0 auto;
}

@media all and (max-width: 1200px) {
    .chartContainer {
        width: 80%;
    }
}

@media all and (max-width: 900px) {
    .chartContainer {
        width: 100%;
    }
}