/* Navigation.css */

.sidebar-wrapper{
  position: absolute;
  width: 210px;
  padding-top: 20px;
}


.sidebar {
  height: 100%;
  width: inherit;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 12vh;
  background-color: #413715; /* Sidebar background color */
  /* padding-top: 20px; */
  z-index: 10; /* Ensure sidebar is above other content */
  display: flex;
  opacity: 0%;
  transition-duration: 0.3s;
  pointer-events: none;
}

.nav-solid{
  background-color: #8a5a11;
  position: fixed;
  height: 42px;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 2vh;
  box-shadow: 0px 2px 8px #555555;
}

.page-blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
  z-index: -1;
  opacity: 0%;
}

.show{
  transition-duration: 0.6s;
  opacity: 100%;
  pointer-events: auto;
  z-index: 20;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: inherit;
}

/* .sidebar ul li {
  padding: 10px 0;
} */

.sidebar ul li a {
  color: #EBE1BE; /* Link text color */
  text-decoration: none;
  padding: 8% 5% 8% 5%;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #E6DDBD; /* Background color on hover */
  color: #413715;
  transition-duration: 0.5s;
  padding: 8% 5% 8% 5%;
}

.sidebar hr {
  margin: 0 5% 0 5%;
  border: 0.2px solid #E6DDBD95;
  border-radius: 1px;
}

.sidebar-top {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  flex-wrap: wrap;
  top: 2vh;
  left: 30px;
  z-index: 50;
  margin-top: auto;
}

/* .icon-link {
  margin: auto;
} */

.sidebar .icon-link:hover {
  background-color: #333;
  }

.icon {
  height: 42px;
}

.logoutIcon {
  height: 30px;
  cursor: pointer;
}

.collapse-btn {
  color: #fff; /* Text color */
  margin-right: 6px;
}